# .github/workflows/filter.yml
name: Advanced Multi-Filter M3U

on:
  push:
    branches: [ main, master ] 
  schedule:
    - cron: '0 4 * * *'
  workflow_dispatch:

jobs:
  filter:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout kode
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Install dependencies (requests)
        run: pip install requests

      - name: Jalankan Skrip Multi-Filter
        # MEMANGGIL SCRIPT DENGAN NAMA LAMA
        run: python download_m3u.py

      - name: Commit dan Push file M3U yang Diperbarui
        run: |
          git config user.name 'github-actions[bot]'
          git config user.email 'github-actions[bot]@users.noreply.github.com'
          
          # >>> TAMBAHKAN KEDUA FILE OUTPUT BARU DI SINI <<<
          git add event_only.m3u sports_live.m3u
          
          if git diff --cached --exit-code; then
            echo "Tidak ada perubahan."
          else
            echo "Perubahan terdeteksi. Melakukan commit..."
            git commit -m "Update Multi-Filtered Playlists (Automated)"
            git push
          fi
